h1 {
    text-align: center;
}

/*FIXME testing only*/
/*FIXME <img class="img-fluid" src="styles/test-image.png" alt="testing">*/
.img-fluid{
    width: 100%;
}

#content-div{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (min-width: 576px){
    #content-div{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (min-width: 768px){
    #content-div{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (min-width: 900px){
    #content-div{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}