#conditions-row {
    display: none;
}

#forecast-row {
    display: none;
}

#city-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#condition-desc {
    text-align: center;
    font-weight: bold;
}

#temp-humidity-wind {
    text-align: center;
}

#5-days-forecast{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(5, 1fr);
}
