#form-container{
    display: flex;
    justify-content: center;
}

#create-search-header {
    display: flex;
    padding: 15px;
}

#library-container {
    display: flex;
    justify-content: center;
}

#dvd-library {
    width: 90%;
    text-align: center;
}
