.container {
    display: flex;
    justify-content: center;
}

/*
.boxContainer {
    width: 60%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
*/

img {
    width: 200px;
    padding: 20px;
}

/*Media queries version - will allow you to change the grid based on screen size*/

/*
Sizes:

Extra small (xs) devices (portrait phones, less than 576px)

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
 */
@media screen and (min-width: 900px) {
    .boxContainer {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .boxContainer {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .boxContainer {
        width: 60%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}